{% extends 'base.html' %}
{% load static %}
{%block title%}
Add Food Item
{% endblock %}
{% block style%}
		body,
		html {
			margin: 0;
			padding: 0;
            height: 100%;
		}
		.user_card {
			width: 500px;
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
            
		}

		.form_container {
			margin-top: 20px;
		}

		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
            background: #2e928f!important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
        .flex-box-row {
            display:flex;
            padding : 10px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        #heading{
            text-shadow: antiquewhite;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 550;
            font-size: xx-large;
            text-align: left;
        }
        {% endblock %}

{%block content%}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Add Food Item...</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-image"></i> </span>
							</div>
							
							{{form.image}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-cutlery"></i></span>
							</div>
							{{form.name}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-lemon-o"></i></span>
							</div>
							{{form.carbs}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-lemon-o"></i></span>
							</div>
							{{form.protein}}
						</div><div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-lemon-o"></i></span>
							</div>
							{{form.category}}
						</div><div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-folder-o"></i></span>
							</div>
							{{form.fats}}
						</div><div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-folder-o"></i></span>
							</div>
							{{form.calories}}
						</div>



				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn btn-success" type="submit" value="Add Item">
				   		</div>

					</form>
				</div>

				{{form.errors}}
				
				
			</div>
		</div>
	</div>
    {% endblock %}

	{% block js%}
						/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[2].placeholder='Food name..';
		form_fields[3].placeholder='Carbs...(in gm)';
		form_fields[4].placeholder='Protein...(in gm)';
		form_fields[5].placeholder='Fats...(in gm)';
		form_fields[6].placeholder='Calorie...(in kcal)';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	    {% endblock %}

